/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-main:#fff;
  --color-background:#ccc;
}


/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  text-align: center;
}

p {
  text-align: center;
}

ol {
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	height:100vh;
}

li {
	display:grid;
	place-items:center;
	flex-grow:1;
	flex-basis:0%;
	transition:1s;
  height:100%;
}

li:hover {
	flex-basis:80%;
}

li:nth-of-type(1) {
  background-color:blue;
  background-image: "images/blackflagbackground.png";
}

li:nth-of-type(2) {
  background-color:green;
}

li:nth-of-type(3) {
  background-color:blue;
}

li:nth-of-type(4) {
  background-color:green;
}

li:nth-of-type(5) {
  background-color:blue;
}
